/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
/memreserve/ 0x7ed00000 0x00100000; /* OP-TEE SHM */
#include <dt-bindings/interrupt-controller/irq.h>
#include "s5p6818.dtsi"

#define PMIC_PDATA_INIT(_id, _rname, _minuv,	\
			_maxuv, _always_on, _boot_on,		\
			_init_uv, _init_enable, _slp_slots)	\
		regulator-name = _rname;		\
		regulator-min-microvolt = <_minuv>;	\
		regulator-max-microvolt = <_maxuv>;	\
		nx,id = <_id>;				\
		nx,always_on = <_always_on>;		\
		nx,boot_on = <_boot_on>;		\
		nx,init_enable = <_init_enable>;	\
		nx,init_uV = <_init_uv>;		\
		nx,sleep_slots = <_slp_slots>;

/ {
	memory {
		reg = <0x40000000 0x3ee00000>;
	};

	soc {
		#include "s5p6818-pinctrl.dtsi"

		clocks {
			uart0:uart@c00a9000 { clock-frequency = <147500000>; };
			uart1:uart@c00a8000 { clock-frequency = <147500000>; };
			uart2:uart@c00aa000 { clock-frequency = <147500000>; };
			uart3:uart@c00ab000 { clock-frequency = <147500000>; };
			uart4:uart@c006e000 { clock-frequency = <147500000>; };
			uart5:uart@c0084000 { clock-frequency = <147500000>; };
		};

		serial0:serial@c00a1000 {
			status ="okay";
		};

		amba {
			pl08xdma0:pl08xdma@c0000000 {
				use_isr;

				ch12 {
					slave_wait_flush_dma;
				};

				ch13 {
					slave_wait_flush_dma;
				};

				ch14 {
					slave_wait_flush_dma;
				};

				ch15 {
					slave_wait_flush_dma;
				};
			};

			pl08xdma1:pl08xdma@c0001000 {
				use_isr;

				ch0 {
					slave_wait_flush_dma;
				};

				ch1 {
					slave_wait_flush_dma;
				};
			};
		};

		i2c3_gpio:i2c@0 {
			compatible = "i2c-gpio";
			gpios = <&gpio_d 16 0	/* sda */
				&gpio_d 20 0	/* scl */
				>;
			i2c-gpio,delay-us = <10>;/* ~100 kHz */
			i2c-gpio,ch =<3>;
		};

		i2c3_gpio:i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;

			axp228@34 {
				compatible = "x-powers,axp228";
				reg = <0x34>;
				interrupt-parent = <&alive_0>;
				interrupts = <0x4 IRQ_TYPE_EDGE_FALLING>;
				nx,id = <0>;
				/* vdd_arm-supply = <&VCC1P1_ARM_PMIC>; */
				/* vdd_core-supply = <&VCC1P0_CORE_PMIC>; */
				regulators {
					VCC_LDO1:
						axp22_rtcldo{PMIC_PDATA_INIT( 0,
						"axp228_rtcldo",
						3000000, 3000000, 0, 0, 3300000,
						0, 0xF) };
					VCC_LDO2:
						axp22_aldo1{PMIC_PDATA_INIT( 1,
						"axp228_3p3_alive",
						700000, 3300000, 1, 1, 3300000,
						1, 0xF) };
					VCC_LDO3:
						axp22_aldo2{PMIC_PDATA_INIT( 2,
						"axp228_1p8_alive",
						700000, 3300000, 1, 1, 1800000,
						1, 0xF) };
					VCC_LDO4:
						axp22_aldo3{PMIC_PDATA_INIT( 3,
						"axp228_1p0_alive",
						700000, 3300000, 1, 1, 1000000,
						1, 0xF) };
					VCC_LDO5:
						axp22_dldo1{PMIC_PDATA_INIT( 4,
						"axp228_wide",
						700000, 3300000, 1, 1, 3300000,
						1, 0xF) };
					VCC_LDO6:
						axp22_dldo2{PMIC_PDATA_INIT( 5,
						"axp228_1p8_cam",
						700000, 3300000, 0, 0, 1800000,
						0, 0xF) };
					VCC_LDO7:
						axp22_dldo3{PMIC_PDATA_INIT( 6,
						"axp228_dldo3",
						700000, 3300000, 0, 0,  700000,
						0, 0xF) };
					VCC_LDO8:
						axp22_dldo4{PMIC_PDATA_INIT( 7,
						"axp228_dldo4",
						700000, 3300000, 0, 0,  700000,
						0, 0xF) };
					VCC_LDO9:
						axp22_eldo1{PMIC_PDATA_INIT( 8,
						"axp228_1p8_sys",
						700000, 3300000, 1, 1, 1800000,
						1, 0xF) };
					VCC_LDO10:
						axp22_eldo2{PMIC_PDATA_INIT( 9,
						"axp228_3p3_wifi",
						700000, 3300000, 1, 1, 3300000,
						1, 0xF) };
					VCC_LDO11:
						axp22_eldo3{PMIC_PDATA_INIT(10,
						"axp228_eldo3",
						700000, 3300000, 0, 0,  700000,
						0, 0xF) };
					VCC_LDO12:
						axp22_dc5ldo{PMIC_PDATA_INIT(11,
						"axp228_1p2_cvbs",
						700000, 1400000, 0, 0, 1200000,
						0, 0xF) };
					VCC_DCDC1:
						axp22_dcdc1{PMIC_PDATA_INIT(12,
						"axp228_3p3_sys",
						1600000, 3400000, 1, 1, 3300000,
						1, 0xF) };
					VCC1P1_ARM_PMIC:
						axp22_dcdc2{PMIC_PDATA_INIT(13,
						"axp228_1p1_arm",
						600000, 1540000, 1, 1, 1100000,
						1, 0xF) };
					VCC1P0_CORE_PMIC:
						axp22_dcdc3{PMIC_PDATA_INIT(14,
						"axp228_1p0_core",
						600000, 1860000, 1, 1, 1100000,
						1, 0xF) };
					VCC_DCDC4:
						axp22_dcdc4{PMIC_PDATA_INIT(15,
						"axp228_1p5_sys",
						600000, 1540000, 1, 1, 1500000,
						1, 0xF) };
					VCC_DCDC5:
						axp22_dcdc5{PMIC_PDATA_INIT(16,
						"axp228_1p5_ddr",
						1000000, 2550000, 1, 1, 1500000,
						1, 0xF) };
					VCC_LDOIO0:
						axp22_ldoio0{PMIC_PDATA_INIT(17,
						"axp228_ldoio0",
						700000, 3300000, 0, 0, 1800000,
						0, 0xF) };
					VCC_LDOIO1:
						axp22_ldoio1{PMIC_PDATA_INIT(18,
						"axp228_ldoio1",
						700000, 3300000, 0, 0, 1000000,
						0, 0xF) };
				};
			};
		};

	};	/*** soc ***/
};
