/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include "s5p6818-artik710-raptor-common.dtsi"

&dw_mmc_0 {
	cd-gpios = <&gpio_c 14 0>;
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm0_pin &pwm1_pin>;
	samsung,pwm-outputs = <0>, <1>;
};

&i2c_gpio3 {
	compatible = "i2c-gpio";
	gpios = <&gpio_c 16 0	/* sda */
		&gpio_c 15 0	/* scl */
		>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	touchscreen@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
		interrupt-parent = <&gpio_b>;
		interrupts = <22 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchpanel_irq>;
		skip-cfg-load;
		switch-xy;
	};
};

&i2c_gpio5 {
	status = "disabled";
};

&i2c_2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	nxe2000@32 {
		compatible = "nexell,nxe2000";
		reg = <0x32>;
		interrupt-parent = <&alive_0>;
		interrupts = <0x5 IRQ_TYPE_EDGE_FALLING>;
	};

	touchscreen@4a {
		status = "disabled";
	};
};

&i2c_gpio10 {
	status = "disabled";
};
