/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "../skeleton.dtsi"

#include <dt-bindings/tieoff/s5p6818-tieoff.h>
#include <dt-bindings/soc/s5p6818-base.h>
#include <dt-bindings/reset/nexell,s5p6818-reset.h>
#include <dt-bindings/interrupt-controller/s5p6818-irq.h>

/ {
	model = "nexell soc";
	compatible = "nexell,s5p6818";
	#address-cells = <0x1>;
	#size-cells = <0x1>;

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
		serial2 = &serial2;
		serial3 = &serial3;
		serial4 = &serial4;
		serial5 = &serial5;
		i2s0	= &i2s_0;
		i2s1	= &i2s_1;
		i2s2	= &i2s_2;
		pinctrl0 = &pinctrl_0;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	cpus {
		#address-cells = <0x2>;
		#size-cells = <0x0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x0>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x1>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x2>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x3>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu4: cpu@4 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x100>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu5: cpu@5 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x101>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu6: cpu@6 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x102>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu7: cpu@7 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0 0x103>;
			enable-method = "psci";
			cpu-release-addr = < 0x1 0xc0010230 >;
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
			};
			cluster1 {
				core4 {
					cpu = <&cpu4>;
				};
				core5 {
					cpu = <&cpu5>;
				};
				core6 {
					cpu = <&cpu6>;
				};
				core7 {
					cpu = <&cpu7>;
				};
			};
		};
	};

	refclk:oscillator {
		compatible = "nexell,s5p6818,pll";
		reg = <0xc0010000 0x1000>;
		ref-freuecny = <24000000>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0xc0000000 0x300000>;
		interrupt-parent = <&gic>;
		ranges;

		#include "s5p6818-soc.dtsi"

		gic:interrupt-controller@c0009000 {
			compatible = "arm,gic-400";
			interrupt-controller;
			#interrupt-cells = <3>;
			reg	= <0xC0009000 0x1000>, <0xC000a000 0x100>;
		};

		timer@c0017000 {
			compatible = "nexell,s5p6818-timer";
			reg = <PHYS_BASE_TIMER 0x1000>;
			interrupts = <0 IRQ_TIMER1 0>;
			clksource = <0>;
			clkevent = <1>;
			clocks =  <&timer0>, <&timer1>, <&pclk>;
			clock-names = "timer0", "timer1", "pclk";
		};

		tieoff@c0011000 {
			compatible = "nexell,tieoff";
			reg = <PHYS_BASE_TIEOFF 0x1000>;
		};

		serial0:serial@c00a1000 {
			compatible = "nexell,s5p6818-uart";
			reg = <PHYS_BASE_UART0 0x1000>;
			interrupts = <0 IRQ_UART0  0>;
			clock-names = "uart", "clk_uart_baud0";
			clocks = <&uart0>, <&uart0>;
			resets  = <&nexell_reset RESET_ID_UART0>;
			reset-names = "uart-reset";
			soc,tieoff = <NX_TIEOFF_UART0_USESMC 0>,
					<NX_TIEOFF_UART0_SMCTXENB 0>,
					<NX_TIEOFF_UART0_SMCRXENB 0> ;
			pinctrl-names = "default";
			pinctrl-0 = <&serial0_pin>;
			status = "disabled";
		};

		serial1:serial@c00a0000 {
			compatible = "nexell,s5p6818-uart";
			reg = <PHYS_BASE_UART1 0x1000>;
			interrupts = <0 IRQ_UART1  0>;
			clock-names = "uart", "clk_uart_baud0";
			clocks = <&uart1>, <&uart1>;
			resets  = <&nexell_reset RESET_ID_UART1>;
			reset-names = "uart-reset";
			soc,tieoff = <NX_TIEOFF_UART1_USESMC 0>,
					<NX_TIEOFF_UART1_SMCTXENB 0>,
					<NX_TIEOFF_UART1_SMCRXENB 0> ;
			pinctrl-names = "default";
			pinctrl-0 = <&serial1_pin>;
			status = "disabled";
		};

		serial2:serial@c00a2000 {
			compatible = "nexell,s5p6818-uart";
			reg = <PHYS_BASE_UART2 0x1000>;
			interrupts = <0 IRQ_UART2  0>;
			clock-names = "uart", "clk_uart_baud0";
			clocks = <&uart2>, <&uart2>;
			resets  = <&nexell_reset RESET_ID_UART2>;
			reset-names = "uart-reset";
			soc,tieoff = <NX_TIEOFF_UART2_USESMC 0>,
					<NX_TIEOFF_UART2_SMCTXENB 0>,
					<NX_TIEOFF_UART2_SMCRXENB 0> ;
			pinctrl-names = "default";
			pinctrl-0 = <&serial2_pin>;
			status = "disabled";
		};

		serial3:serial@c00a3000 {
			compatible = "nexell,s5p6818-uart";
			reg = <PHYS_BASE_UART3 0x1000>;
			interrupts = <0 IRQ_UART3  0>;
			clock-names = "uart", "clk_uart_baud0";
			clocks = <&uart3>, <&uart3>;
			resets  = <&nexell_reset RESET_ID_UART3>;
			reset-names = "uart-reset";
			soc,tieoff = <NX_TIEOFF_UART3_USESMC 0>,
					<NX_TIEOFF_UART3_SMCTXENB 0>,
					<NX_TIEOFF_UART3_SMCRXENB 0> ;
			pinctrl-names = "default";
			pinctrl-0 = <&serial3_pin>;
			status = "disabled";
		};

		serial4:serial@c006d000 {
			compatible = "nexell,s5p6818-uart";
			reg = <PHYS_BASE_UART4 0x1000>;
			interrupts = <0 IRQ_UART4  0>;
			clock-names = "uart", "clk_uart_baud0";
			clocks = <&uart4>, <&uart4>;
			resets  = <&nexell_reset RESET_ID_UART4>;
			reset-names = "uart-reset";
			soc,tieoff = <NX_TIEOFF_UART4_USESMC 0>,
					<NX_TIEOFF_UART4_SMCTXENB 0>,
					<NX_TIEOFF_UART4_SMCRXENB 0> ;
			pinctrl-names = "default";
			pinctrl-0 = <&serial4_pin>;
			status = "disabled";
		};

		serial5:serial@c006f000 {
			compatible = "nexell,s5p6818-uart";
			reg = <PHYS_BASE_UART5 0x1000>;
			interrupts = <0 IRQ_UART5  0>;
			clock-names = "uart", "clk_uart_baud0";
			clocks = <&uart5>, <&uart5>;
			resets  = <&nexell_reset RESET_ID_UART5>;
			reset-names = "uart-reset";
			soc,tieoff = <NX_TIEOFF_UART5_USESMC 0>,
					<NX_TIEOFF_UART5_SMCTXENB 0>,
					<NX_TIEOFF_UART5_SMCRXENB 0> ;
			pinctrl-names = "default";
			pinctrl-0 = <&serial5_pin>;
			status = "disabled";
		};

		nexell_reset:reset@c0012000 {
			#reset-cells = <1>;
			compatible = "nexell,s5p6818-reset";
			reg = <0xC0012000 0x3>;
			status = "okay";
		};

		i2c_0:i2c@c00a4000 {
			compatible = "nexell,s5p6818-i2c";
			reg = <PHYS_BASE_I2C0 0x100>;
			interrupts = <0 IRQ_I2C0 0>;
			clock-names = "i2c";
			clocks = <&i2c0>;
			samsung,i2c-sda-delay = <100>;
			samsung,i2c-max-bus-freq = <100000>;
			samsung,i2c-slave-addr = <0x66>;
			resets  = <&nexell_reset RESET_ID_I2C0>;
			reset-names = "i2c-reset";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pin>;
			status = "disabled";
		};

		i2c_1:i2c@c00a5000 {
			compatible = "nexell,s5p6818-i2c";
			reg = <PHYS_BASE_I2C1 0x100>;
			interrupts = <0 IRQ_I2C1 0>;
			clock-names = "i2c";
			clocks = <&i2c1>;
			samsung,i2c-sda-delay = <100>;
			samsung,i2c-max-bus-freq = <100000>;
			samsung,i2c-slave-addr = <0x66>;
			resets  = <&nexell_reset RESET_ID_I2C1>;
			reset-names = "i2c-reset";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pin>;
			status = "disabled";
		};

		i2c_2:i2c@c00a6000 {
			compatible = "nexell,s5p6818-i2c";
			reg = <PHYS_BASE_I2C2 0x100>;
			interrupts = <0 IRQ_I2C2 0>;
			clock-names = "i2c";
			clocks = <&i2c2>;
			samsung,i2c-sda-delay = <100>;
			samsung,i2c-max-bus-freq = <100000>;
			samsung,i2c-slave-addr = <0x66>;
			resets  = <&nexell_reset RESET_ID_I2C2>;
			reset-names = "i2c-reset";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c2_pin>;
			status = "disabled";
		};

		dw_mmc_0:dw_mmc@c0062000 {
			compatible = "nexell,s5p6818-dw-mshc";
			interrupts = <0 IRQ_SDMMC0 0>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <PHYS_BASE_SDMMC0 0x1000>;
			resets  = <&nexell_reset RESET_ID_SDMMC0>;
			reset-names = "dw_mmc-reset";
			clock-names = "sdhc2";
			clocks = <&sdhc0>;
			pinctrl-names = "default";
			pinctrl-0 = <&sdmmc0_cclk &sdmmc0_cmd &sdmmc0_bus4>;
			fifo-detph = <0x20>;
			status = "disabled";
		};

		dw_mmc_1:dw_mmc@c0068000 {
			compatible = "nexell,s5p6818-dw-mshc";
			interrupts = <0 IRQ_SDMMC1 0>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <PHYS_BASE_SDMMC1 0x1000>;
			resets  = <&nexell_reset RESET_ID_SDMMC1>;
			reset-names = "dw_mmc-reset";
			clock-names = "sdhc1";
			clocks = <&sdhc1>;
			pinctrl-names = "default";
			pinctrl-0 = <&sdmmc1_cclk &sdmmc1_cmd &sdmmc1_bus4>;
			fifo-detph = <0x20>;
			status = "disabled";
		};

		dw_mmc_2:dw_mmc@c0069000 {
			compatible = "nexell,s5p6818-dw-mshc";
			interrupts = <0 IRQ_SDMMC2 0>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <PHYS_BASE_SDMMC2 0x1000>;
			resets  = <&nexell_reset RESET_ID_SDMMC2>;
			reset-names = "dw_mmc-reset";
			clock-names = "sdhc2";
			clocks = <&sdhc2>;
			pinctrl-names = "default";
			pinctrl-0 = <&sdmmc2_cclk &sdmmc2_cmd &sdmmc2_bus4>;
			fifo-detph = <0x20>;
			status = "disabled";
		};

		i2s_0:i2s@c0055000 {
			  compatible = "nexell,nexell-i2s";
			  reg = <PHYS_BASE_I2S0 0x1000>;
			  dmas = <&pl08xdma0 12>, <&pl08xdma0 13>;
			  dma-names = "tx", "rx";
			  clocks = <&i2s0>;
			  clock-names = "i2s0";
			  resets = <&nexell_reset RESET_ID_I2S0>;
			  reset-names = "i2s-reset";
			  pinctrl-names = "default";
			  pinctrl-0 = <&i2s0_bus>;
			  master-mode = <1>;
			  mclk-in = <0>;
			  trans-mode = <0>;
			  frame-bit = <32>;
			  sample-rate = <48000>;
			  pre-supply-mclk = <1>;
			  status = "disabled";
		};

		i2s_1:i2s@c0056000 {
			  compatible = "nexell,nexell-i2s";
			  reg = <PHYS_BASE_I2S1 0x1000>;
			  dmas = <&pl08xdma0 14>, <&pl08xdma0 15>;
			  dma-names = "tx", "rx";
			  clocks = <&i2s1>;
			  clock-names = "i2s1";
			  resets = <&nexell_reset RESET_ID_I2S1>;
			  reset-names = "i2s-reset";
			  pinctrl-names = "default";
			  pinctrl-0 = <&i2s1_bus>;
			  master-mode = <1>;
			  mclk-in = <0>;
			  trans-mode = <0>;
			  frame-bit = <32>;
			  sample-rate = <48000>;
			  pre-supply-mclk = <1>;
			  status = "disabled";
		};

		i2s_2:i2s@c0057000 {
			  compatible = "nexell,nexell-i2s";
			  reg = <PHYS_BASE_I2S2 0x1000>;
			  dmas = <&pl08xdma1 0>, <&pl08xdma1 1>;
			  dma-names = "tx", "rx";
			  clocks = <&i2s2>;
			  clock-names = "i2s2";
			  resets = <&nexell_reset RESET_ID_I2S2>;
			  reset-names = "i2s-reset";
			  pinctrl-names = "default";
			  pinctrl-0 = <&i2s2_bus>;
			  master-mode = <1>;
			  mclk-in = <0>;
			  trans-mode = <0>;
			  frame-bit = <32>;
			  sample-rate = <48000>;
			  pre-supply-mclk = <1>;
			  status = "disabled";
		};

		nexell_usbphy: nexell-usbphy@c0012000 {
			compatible = "nexell,nexell-usb2-phy";
			reg = <PHYS_BASE_TIEOFF 0x100>;
			clocks = <&usbhost>;
			clock-names = "phy";
			#phy-cells = <1>;
			status = "disabled";
		};

		ehci@c0030000 {
			compatible = "nexell,nexell-ehci";
			reg = <PHYS_BASE_EHCI 0x10000>;
			interrupts = <0 IRQ_USB20HOST 0>;
			clocks = <&usbhost>;
			clock-names = "usbhost";
			resets = <&nexell_reset RESET_ID_USB20HOST>;
			reset-names = "usbhost-reset";
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				phys = <&nexell_usbphy 1>;
				status = "disabled";
			};
			port@1 {
				reg = <1>;
				phys = <&nexell_usbphy 2>;
				status = "disabled";
			};
		};

		ohci@c0020000 {
			compatible = "nexell,nexell-ohci";
			reg = <PHYS_BASE_OHCI 0x10000>;
			interrupts = <0 IRQ_USB20HOST 0>;
			clocks = <&usbhost>;
			clock-names = "usbhost";
			resets = <&nexell_reset RESET_ID_USB20HOST>;
			reset-names = "usbhost-reset";
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				phys = <&nexell_usbphy 1>;
				status = "disabled";
			};
		};

		dwc2otg@c0040000 {
			compatible = "nexell,nexell-dwc2otg";
			reg = <PHYS_BASE_HSOTG 0x11000>;
			interrupts = <0 IRQ_USB20OTG 0>;
			clocks = <&otg>;
			clock-names = "otg";
			resets = <&nexell_reset RESET_ID_USB20OTG>;
			reset-names = "usbotg-reset";
			phys = <&nexell_usbphy 0>;
			phy-names = "usb2-phy";
			dr_mode = "otg";
			g-use-dma = <1>;
			g-rx-fifo-size = <1064>;
			g-np-tx-fifo-size = <512>;
			g-tx-fifo-size = <512 512 256 256 256 256 256 256 256
			    256 256 256 256 256 256>;
			status = "disabled";
		};
	}; /*** soc ***/
};
