/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
/memreserve/ 0x7ed00000 0x00100000; /* OP-TEE SHM */
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "s5p6818.dtsi"

#define PMIC_PDATA_INIT(_id, _rname, _minuv,    \
			_maxuv, _init_uv, _init_enable, \
			_set_init_uV, _slp_slots)       \
		regulator-name = _rname;                \
		regulator-min-microvolt = <_minuv>;     \
		regulator-max-microvolt = <_maxuv>;     \
		nx,id = <_id>;                          \
		nx,init_enable = <_init_enable>;        \
		nx,init_uV = <_init_uv>;                \
		nx,set_init_uV = <_set_init_uV>;        \
		nx,sleep_slots = <_slp_slots>;

/ {
	memory {
		device_type = "memory";
		reg = <0x40000000 0x7ee00000>;
	};

	nx-v4l2 {
		status = "okay";
	};

	soc {
		#include "s5p6818-pinctrl.dtsi"

		clocks {
			uart0:uart@c00a9000 { clock-frequency = <147500000>; };
			uart1:uart@c00a8000 { clock-frequency = <147500000>; };
			uart2:uart@c00aa000 { clock-frequency = <147500000>; };
			uart3:uart@c00ab000 { clock-frequency = <147500000>; };
			uart4:uart@c006e000 { clock-frequency = <147500000>; };
			uart5:uart@c0084000 { clock-frequency = <147500000>; };
			pwm0:pwm0@c00ba000 { clock-frequency = <100000000>; };
			i2c0:i2c@c00ae000  { clock-frequency = <200000000>; };
			i2c1:i2c@c00af000  { clock-frequency = <200000000>; };
			i2c2:i2c@c00b0000  { clock-frequency = <200000000>; };
		};

		serial2:serial@c00a2000 {
			status ="okay";
		};

		serial5:serial@c006f000 {
			status ="okay";
		};

		amba {
			pl08xdma0:pl08xdma@c0000000 {
				use_isr;

				ch12 {
					slave_wait_flush_dma;
				};

				ch13 {
					slave_wait_flush_dma;
				};

				ch14 {
					slave_wait_flush_dma;
				};

				ch15 {
					slave_wait_flush_dma;
				};
			};

			pl08xdma1:pl08xdma@c0001000 {
				use_isr;

				ch0 {
					slave_wait_flush_dma;
				};

				ch1 {
					slave_wait_flush_dma;
				};
			};
		};

		dynamic-freq@bb000 {
			supply_name = "vdd_core_regulator";
			vdd_core_regulator-supply = <&VCC_DCDC0>;
		};

		tmuctrl_0: tmuctrl@c0096000 {
			status = "okay";
		};

		thermal-zones {
			cpu0_thermal: cpu0-thermal {
				thermal-sensors = <&tmuctrl_0>;
				polling-delay-passive = <1000>;
				polling-delay = <1000>;
				trips {
					cpu_alert0: cpu-alert-0 {
						temperature = <80000>;
						hysteresis = <100000>;
						type = "active";
					};
					cpu_alert1: cpu-alert-1 {
						temperature = <85000>;
						hysteresis = <100000>;
						type = "passive";
					};
					cpu_alert2: cpu-alert-2 {
						temperature = <100000>;
						hysteresis = <100000>;
						type = "passive";
					};
					cpu-crit-0 {
						temperature = <115000>;
						hysteresis = <100000>;
						type = "critical";
					};
				};

				cooling-maps {
					map0 {
						trip = <&cpu_alert0>;
						cooling-device = <&cpu0 1 1>;
					};
					map1 {
						trip = <&cpu_alert1>;
						cooling-device = <&cpu0 4 4>;
					};
					map2 {
						trip = <&cpu_alert2>;
						cooling-device = <&cpu0 10 10>;
					};
				};
			};
		};

		dw_mmc_2:dw_mmc@c0069000 {
			num-slots = <1>;
			bus-width = <4>;
			cap-mmc-highspeed;
			broken-cd;
			non-removable;
			clock-frequency = <200000000>;
			card-detect-delay = <200>;
			disable-wp;
			status = "okay";
			nexell,drive_dly = <0x0>;
			nexell,drive_shift = <0x03>;
			nexell,sample_dly = <0x00>;
			nexell,sample_shift = <0x02>;
		};

		dw_mmc_0:dw_mmc@c0062000 {
			num-slots = <1>;
			bus-width = <4>;
			cap-sd-highspeed;
			clock-frequency = <100000000>;
			card-detect-delay = <200>;
			disable-wp;
			cd-gpios = <&alive_0 1 0>;
			cd-inverted;
			nexell,drive_dly = <0x0>;
			nexell,drive_shift = <0x02>;
			nexell,sample_dly = <0x00>;
			nexell,sample_shift = <0x01>;
			status = "okay";
		};

		gmac0:ethernet@c0060000 {
			pinctrl-names = "default";
			pinctrl-0 = <&gmac_pins>;

			status = "okay";
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			snps,phy-addr = <4>;
			snps,reset-gpio = <&gpio_e 22 0>;
			snps,reset-active-low;
			snps,reset-delays-us = <0 10000 30000>;

			mdio {
				#address-cells = <1>;
				#size-cells = <0>;

				ethernet_phy: ethernet-phy@4 {
					reg = <4>;
					fixed-link {
						speed = <1000>;
						full-duplex;
					};
				};
			};
		};

		i2s_0:i2s@c0055000 {
			#sound-dai-cells = <1>;
			master-mode = <1>;
			mclk-in = <0>;
			trans-mode = <0>;
			frame-bit = <32>;
			sample-rate = <48000>;
			pre-supply-mclk = <1>;
			status = "okay";
		};

		spdif_tx: spdiftx@c0059000 {
			#sound-dai-cells = <1>;
			pcm-bit = <16>;
			sample_rate = <48000>;
			status = "okay";
		};
		i2c_1:i2c@c00a5000 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			touchscreen@38 {
				compatible = "edt,edt-ft5x06";
				reg = <0x38>;
				interrupt-parent = <&gpio_a>;
				interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
			};

			goodix@5d {
				compatible = "goodix,gt911";
				reg = <0x5d>;
				interrupt-parent = <&gpio_a>;
				interrupts = <14 IRQ_TYPE_EDGE_FALLING>;
			};

		};

		i2c_2:i2c@c00a6000 {
			status = "diabled";
			#address-cells = <1>;
			#size-cells = <0>;

			rt5640: rt5640@1c {
				#sound-dai-cells = <0>;
				compatible = "realtek,rt5640";
				reg = <0x1c>;
				realtek,ldo1-en-gpios =
					<&gpio_c 4 GPIO_ACTIVE_HIGH>;
			};
		};

		rtc@c0010c00 {
			status = "okay";
		};

		pwm:pwm@c0018000 {
			clocks =  <&pwm0>;
			clock-names = "pwm-tclk0";
			pinctrl-0 = <&pwm0_pin>;
			samsung,pwm-outputs = <0>;
			status = "okay";
		};

		pinctrl@C0010000 {
			key_power:key_power {
				nexell,pins = "alive-0";
				nexell,pin-function = <0>;
				nexell,pin-pull = <1>;
				nexell,pin-strength = <0>;
			};

			key_back:key_back {
				nexell,pins = "gpioa-11";
				nexell,pin-function = <0>;
				nexell,pin-pull = <1>;
				nexell,pin-strength = <0>;
			};

			key_home:key_home {
				nexell,pins = "gpioa-10";
				nexell,pin-function = <0>;
				nexell,pin-pull = <1>;
				nexell,pin-strength = <0>;
			};

			key_volup:key_volup {
				nexell,pins = "gpioa-9";
				nexell,pin-function = <0>;
				nexell,pin-pull = <1>;
				nexell,pin-strength = <0>;
			};

			key_voldown:key_voldown {
				nexell,pins = "gpioa-5";
				nexell,pin-function = <0>;
				nexell,pin-pull = <1>;
				nexell,pin-strength = <0>;
			};

			pmic_irq:pmic_irq{
				nexell,pins = "alive-5";
				nexell,pin-function = <0>;
				nexell,pin-pull = <1>;
				nexell,pin-strength = <0>;
			};
		};

		nexell_usbphy: nexell-usbphy@c0012000 {
			status = "okay";
		};

		ehci@c0030000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		ohci@c0020000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		dwc2otg@c0040000 {
			gpios = <&gpio_c 28 0>;
			status = "okay";
		};

		i2c_0:i2c@c00a4000 {
			status = "okay";
		};

		i2c_gpio4:i2c@4 {
			compatible = "i2c-gpio";
			gpios = <&gpio_c 8 0 /* sda */
				&gpio_c 7 0 /* scl */
				>;
			i2c-gpio,delay-us = <100>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		gpio_key: gpio_keys {
			compatible = "gpio-keys";
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&key_power &key_back &key_voldown
				&key_home>;

			power {
				label = "Power";
				gpios = <&alive_0 0 0>;
				linux,code = <KEY_POWER>;
				gpio-key,wakeup;
			};

			back {
				label = "Back";
				gpios = <&gpio_a 11 0>;
				linux,code = <KEY_BACK>;
			};

			home {
				label = "Home";
				gpios = <&gpio_a 10 0>;
				linux,code = <KEY_HOMEPAGE>;
			};

			volup {
				label = "VolUp";
				gpios = <&gpio_a 9 0>;
				linux,code = <KEY_VOLUMEDOWN>;
			};

			voldown {
				label = "VolDown";
				gpios = <&gpio_a 5 0>;
				linux,code = <KEY_VOLUMEDOWN>;
			};
		};
	};	/*** soc ***/

	backlight: pwm-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 30000 0>;
		pwm-names = "pwm-backlight";
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <60>;
		status = "okay";
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "s5p6818 kick-st Audio";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,dai-link@0 {
		    cpu {
			sound-dai = <&spdif_tx 0>;
		    };

		    codec {
			sound-dai = <&spdif_out>;
		    };
		};
	};

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
	};

	i2c_gpio3: i2c@3 {
		compatible = "i2c-gpio";
		gpios = <&gpio_b 11 0	/* sda */
			&gpio_b 12 0	/* scl */
			>;

		i2c-gpio,delay-us = <1>;	/* ~100kHz */
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		nxe2000@32 {
			compatible = "nexell,nxe2000";
			reg = <0x32>;
			interrupt-parent = <&alive_0>;
			interrupts = <0x4 IRQ_TYPE_EDGE_FALLING>;
			pinctrl-names = "default";
			pinctrl-0 = <&pmic_irq>;
		};
	};

	nexell-ion@0 {
		compatible = "nexell,ion";

		heap_sys_user@0 {
			heap-type = "ion_system";
		};

		heap_sys_contig@0 {
			heap-type = "ion_system_contig";
		};

		heap_dma@0 {
			heap-type = "ion_dma";
		};
	};

	regulators {
		VCC_DCDC0:
			dcdc1	{ PMIC_PDATA_INIT( 0,
				"nxe2000_dcdc1",
				900000, 1500000,
				1100000, 1, 0, 0x4)
				regulator-always-on;
				regulator-boot-on;};
		VCC_DCDC1:
			dcdc2	{ PMIC_PDATA_INIT( 1,
				"nxe2000_dcdc2",
				1000000, 1500000,
				1200000, 1, 0, 0x4)
				regulator-always-on;
				regulator-boot-on;};
		VCC_DCDC2:
			dcdc3	{ PMIC_PDATA_INIT( 2,
				"nxe2000_dcdc3",
				1000000, 3500000,
				3300000, 1, 1, 0xF)
				regulator-always-on;
				regulator-boot-on;};
		VCC_DCDC3:
			dcdc4	{ PMIC_PDATA_INIT( 3,
				"nxe2000_dcdc4",
				1000000, 2000000,
				1500000, 1, 0, 0xF)
				regulator-always-on;
				regulator-boot-on;};
		VCC_DCDC4:
			dcdc5	{ PMIC_PDATA_INIT( 4,
				"nxe2000_dcdc5",
				1000000, 2000000,
				1500000, 1, 0, 0x4)
				regulator-always-on;
				regulator-boot-on;};
		VCC_LDO0:
			ldo1	{ PMIC_PDATA_INIT( 5,
				"nxe2000_ldo1",
				1000000, 3500000,
				3300000, 0, 1, 0x0)
				regulator-boot-on;};
		VCC_LDO1:
			ldo2	{ PMIC_PDATA_INIT( 6,
				"nxe2000_ldo2",
				1000000, 3500000,
				1800000, 0, 1, 0x0)
				regulator-boot-on;};
		VCC_LDO2:
			ldo3	{ PMIC_PDATA_INIT( 7,
				"nxe2000_ldo3",
				1000000, 3500000,
				1800000, 1, 1, 0xF)
				regulator-always-on;
				regulator-boot-on;};
		VCC_LDO3:
			ldo4	{ PMIC_PDATA_INIT( 8,
				"nxe2000_ldo4",
				1000000, 3500000,
				1800000, 1, 1, 0x2)
				regulator-always-on;
				regulator-boot-on;};
		VCC_LDO4:
			ldo5	{ PMIC_PDATA_INIT( 9,
				"nxe2000_ldo5",
				1000000, 3500000,
				3300000, 0, 1, 0x0)
				regulator-boot-on;};
		VCC_LDO5:
			ldo6	{ PMIC_PDATA_INIT(10,
				"nxe2000_ldo6",
				1000000, 3500000,
				3300000, 1, 1, 0xF)
				regulator-always-on;
				regulator-boot-on;};
		VCC_LDO6:
			ldo7	{ PMIC_PDATA_INIT(11,
				"nxe2000_ldo7",
				1000000, 3500000,
				2800000, 1, 1, 0x0)
				regulator-always-on;
				regulator-boot-on;};
		VCC_LDO7:
			ldo8	{ PMIC_PDATA_INIT(12,
				"nxe2000_ldo8",
				1000000, 3500000,
				3300000, 0, 1, 0xF)
				regulator-boot-on;};
		VCC_LDO8:
			ldo9	{ PMIC_PDATA_INIT(13,
				"nxe2000_ldo9",
				1000000, 3500000,
				1800000, 0, 1, 0x2)
				regulator-boot-on;};
		VCC_LDO9:
			ldo10	{ PMIC_PDATA_INIT(14,
				"nxe2000_ldo10",
				1000000, 3500000,
				1200000, 1, 1, 0x4)
				regulator-always-on;
				regulator-boot-on;};
		VCC_RTC0:
			ldortc1	{ PMIC_PDATA_INIT(15,
				"nxe2000_rtc1",
				1700000, 3500000,
				1800000, 1, 1, 0xF)
				regulator-always-on;
				regulator-boot-on;};
		VCC_RTC1:
			ldortc2	{ PMIC_PDATA_INIT(16,
				"nxe2000_rtc2",
				1000000, 3500000,
				1000000, 1, 1, 0xF)
				regulator-always-on;
				regulator-boot-on;};
	}; /* regulators */
};

&dp_drm {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			back_color = < 0x0>;
			color_key = < 0x0>;
			plane-names = "video", "primary", "rgb";
		};
		port@1 {
			reg = <1>;
			back_color = < 0x0>;
			color_key = < 0x0>;
			plane-names = "video", "primary";
		};
	};
};

&dp_drm_mipi {
	status = "okay";
	hs_bitrate = <1000>;
	lp_bitrate = <80>;

	panel@0 {
		compatible = "lt101mb02000";
		backlight = <&backlight>;
		reg = <0>;
		reset-gpio = <&gpio_a 17 0>;
		power-on-delay= <50>;
		reset-delay = <100>;
		init-delay = <100>;
	};

	dp_control {
		clk_src_lv0 = <0>;
		clk_div_lv0 = <5>;
		clk_src_lv1 = <7>;
		clk_div_lv1 = <1>;
		out_format = <3>;
		vs_start_offset = <2387>;
		ev_start_offset = <2387>;
		vs_end_offset = <0>;
		ev_end_offset = <0>;
	};
};

&dp_drm_hdmi {
	ddc-i2c-bus = <&i2c_gpio4>;
	enable-gpios = <&gpio_a 21 0>;
	status = "ok";
	q_range = <0>;
	skip-boot-connect;
};
