/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
#include "s5p6818-artik710.dtsi"

/ {
	model = "Samsung artik710 raptor board based on s5p6818";
	compatible = "samsung,artik710-raptor", "samsung,artik710",
		   "nexell,s5p6818";

	soc {
		serial3:serial@c00a3000 {
			status ="okay";
		};

		dw_mmc_0:dw_mmc@c0062000 {
			num-slots = <1>;
			bus-width = <4>;
			cap-sd-highspeed;
			clock-frequency = <200000000>;
			card-detect-delay = <200>;
			disable-wp;
			cd-gpios = <&gpio_c 14 0>;
			cd-inverted;
			nexell,drive_dly = <0x0>;
			nexell,drive_shift = <0x03>;
			nexell,sample_dly = <0x00>;
			nexell,sample_shift = <0x02>;
			status = "okay";
		};

		nexell_usbphy: nexell-usbphy@c0012000 {
			status = "okay";
		};

		ehci@c0030000 {
			samsung,vbus-gpio = <&gpio_a 16 0>;
			status = "okay";
			port@0 {
				status = "okay";
			};
			port@1 {
				status = "okay";
			};
		};

		ohci@c0020000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		dwc2otg@c0040000 {
			gpios = <&gpio_a 15 0>;
			status = "okay";
		};
	};	/*** soc ***/

	usb3503_i2c:i2c@3503 {
		compatible = "i2c-gpio";
		gpios = <&gpio_b 30 0 /* sda */
			&gpio_b 31 0 /* scl */
			>;
		i2c-gpio,delay-us = <100>;    /* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;

		usb3503: usb3503@08 {
			compatible = "smsc,usb3503";
			reg = <0x08>;
			intn-gpios = <&gpio_b 23 0>;
			connect-gpios = <&gpio_a 18 0>;
			reset-gpios = <&gpio_a 22 0>;
			initial-mode = <1>;
		};
	};
};
