config DRM_NX
	tristate "DRM Support for NEXELL Display Controller"
	depends on DRM && ARCH_S5P6818
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
	help
	  Choose this option if you have a Nexell soc chipset.
	  This driver provides kernel mode setting and buffer
	  management to userspace. If M is selected the module
	  will be called nexell drm.

config DRM_NX_FBDEV
	bool "Enable legacy fbdev support"
	depends on DRM_NX
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_KMS_FB_HELPER
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
	help
	  Choose this option if you have a need for the legacy fbdev
	  support, Note that this support also provide the linux console
	  support.

source "drivers/gpu/drm/nexell/soc/Kconfig"
