config DRM_NX
	tristate "DRM Support for NEXELL Display Controller"
	depends on DRM && (ARCH_S5P6818 || ARCH_S5P4418)
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	help
	  Choose this option if you have a Nexell soc chipset.
	  This driver provides kernel mode setting and buffer
	  management to userspace. If M is selected the module
	  will be called nexell drm.

config DRM_NX_FBDEV
	bool "Enable legacy fbdev support"
	depends on DRM_NX
	select DRM_KMS_FB_HELPER
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
	help
	  Choose this option if you have a need for the legacy fbdev
	  support, Note that this support also provide the linux console
	  support.

config DRM_NX_LCD
	bool "LCD support"
	depends on DRM_NX
	select DRM_PANEL
	select VIDEOMODE_HELPERS
	help
	 This selects support for LCD (RGB/LVDS/MiPi) display out.
	 If you want to enable LCD (RGB/LVDS/MiPi) display,
	 you should selet this option.

config DRM_NX_MIPI_DSI
	bool "MiPi DSI support"
	depends on DRM_NX_LCD
	select DRM_MIPI_DSI
	help
	 This selects support for MiPi-DSI display device.
	 If you want to enable MiPi-DSI display device,
	 you should selet this option.

config DRM_NX_HDMI
	bool "HDMI support"
	depends on DRM_NX
	select VIDEOMODE_HELPERS
	help
	 This selects support for HDMI display out.
	 If you want to enable HDMI display,
	 you should selet this option.
